@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
	box-sizing: border-box;
}
body{
	margin: 0;
	
}
nav ul{
	position: relative;
	margin: 0 0 0 20px;
	background-color: gray;
	width: 460px;
	background-image:linear-gradient(0deg, transparent 70%,   #696969 70%),
	linear-gradient(90deg,   #696969 50%, #808080 50%);
	background-size:3px 3px,3px 3px;
	background-position:0 0, 0 0;
	border-radius: 5px;
}

.submenu:hover{
opacity: 0.9;
height: 70px;

}
nav ul li , nav a{
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	color:  #ececec;
	font-size: 16px;
	font-weight: 400;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	text-decoration: none;
	width: 100px;
	height: 50px;
	padding: 7px 0 0 0;
	position: relative;

}
nav ul ul {
	display: none;
	position: absolute;
	width: 114px;
	top: 45px;
	left: -53px;

}


nav ul li:hover > ul {
	display:inherit;

}

nav ul ul li {
	list-style-type: none;
	display:table;
	position: relative;
}

.submenu{
	position: relative;
	left: -14px;
}
.submenu::after{
	display: block;
	width:113px;
	content: '';
	position: absolute;
	border-bottom: 1px solid #000;
	top:55px;
	left: -25px; 
}
.submenu-4{
	position: relative;
	left: -15px;
}
.submenu-4::before{
	display: block;
	position: absolute;
	content: "";
	height: 10px;
	width: 114px;
	background-color:  #c2d900;
	left: -25px;
	bottom: 0;
}

.home::before{
	display: block;
	position: absolute; 
	content: "";
	height: 10px;
	width: 111px;
	background-color:  #00aae9;
	left:-40px;
	bottom: 0;
	border-radius: 0 0 0 5px;
}
.drop::before{
	display: block;
	position: absolute;
	content: "";
	height: 10px;
	width: 114px;
	background-color:  #c2d900;
	left: -33px;
	bottom: 0;
}
.portfolio::before{
	display: block;
	position: absolute;
	content: "";
	height: 10px;
	width: 113px;
	background-color:  #ffdd00;
	left: -23px;
	bottom: 0;
}
.contact::before{
	display: block;
	position: absolute;
	content: "";
	height: 10px;
	width: 124px;
	background-color:  #f7941d;
	left: -16px;
	bottom: 0;
	border-radius: 0 0 5px 0;

}
.home::after{
	content: "";
	background-color: #000000;
	width: 1px;
	height: 80px;
	position: absolute;
	bottom: 10px;
	left: 70px;
}
.drop::after{
	content: "";
	background-color: #000000;
	width: 1px;
	height: 80px;
	position: absolute;
	bottom: 10px;
	left: 80px;
}
.portfolio::after{
	content: "";
	background-color: #000000;
	width: 1px;
	height: 80px;
	position: absolute;
	bottom: 10px;
	left: 88px;
}







