@import url('https://fonts.googleapis.com/css?family=PT+Sans');
* {
	box-sizing: border-box;
}
body{
	margin: 0;
}
.header{
	
	margin: 0 auto;
	background-color:  #fcdb00;
	overflow: hidden;
	position: relative;
	clear: both;
}
.main{
	margin: 0 auto;
	background-color:  #ffffff;
	overflow: hidden;
	position: relative;
	clear: both;
}
.footer{
	margin: 0 auto;
	background-color:  #010101;
	overflow: hidden;
	position: relative;
	clear: both;
}
.logo{
	padding: 64px 0 0 200px;
	display: block;
	float: left;
	font-family: 'PT Sans', sans-serif;
	color:  #010101;
	font-size: 30px;
	font-weight: 900;
	text-decoration: none;
	overflow: hidden;
}
.logo img{
	float: left;
	padding:0 10px 0 0 ;
}
.menu{
	float: right;
	padding: 55px 200px 0 0;
	overflow: hidden;

}
.menu li{
	display: inline-block;
}
.li:hover{
	color: #ffffff;
	opacity: 0.9;
}
.menu a{
	font-family: 'PT Sans', sans-serif;
	color:  #010101;
	font-size: 22px;
	font-weight: 700;
	text-decoration: none;
	padding: 0 0 0 50px;
}
.text{
	padding: 150px 0 0 200px;
	font-family: 'PT Sans', sans-serif;
	color:  #010101;
	font-size: 32px;
	font-weight: 700;
	float: left;
	overflow: hidden;
}
.text--2{
	font-family: 'PT Sans', sans-serif;
	color:  #313841;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	width: 309px;
	padding: 30px 0 0 0 ;
}
.text--3{
	font-family: 'PT Sans', sans-serif;
	color:  #545454;
	font-size: 16px;
	font-weight: 400;
	width: 390px;
	padding: 30px 0 55px 0 ;
}
.illustration img{
	float: right;
	overflow: hidden;
	margin: 60px 200px 50px 0;
	display: block;
}
.dots {
	position: absolute;
	bottom: 0;
	padding: 0 0 0 600px;
}
.dots img{
	padding: 0 0 20px 10px;
}

.sprite-1{
	background-image: url("img/sprite.png");
	width: 70px;
	height: 39px;
	background-repeat: no-repeat;
	background-position: -20px -119px;
	float: left;
	
}
.sprite-2{
	background-image: url("img/sprite.png");
	width: 70px;
	height: 39px;
	background-repeat: no-repeat;
	background-position: -20px -60px;
	float: left;
	
}
.sprite-3{
	background-image: url("img/sprite.png");
	width: 70px;
	height: 39px;
	background-repeat: no-repeat;
	background-position: -20px 0px;
	float: left;
	
}
.main__text{
	font-family: 'PT Sans', sans-serif;
	color:  #010101;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	padding: 100px 0 20px 0;
}
.main__text--2{
	font-family: 'PT Sans', sans-serif;
	color:  #313841;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 0 150px 90px 150px;
}
.block{
	float: left;


}
.block--2{
	float: left;
	margin-left: -100px;
}
.block--5{
	float: left;
	margin-left: -100px;
	padding: 65px 0 0 0;
}
.block--3{
	float: left;
	padding: 70px 0 0 0;

}
.block--4{
	float: left;
	margin-left: -120px;
	padding: 65px 0 0 0;
}
.features img{
	float: left;
	margin: 5px 40px 0 150px;
}
.features__text{
	font-family: 'PT Sans', sans-serif;
	color:  #010101;
	font-size: 22px;
	font-weight: 900;
	padding: 0 0 20px 0;

}
.features__text--2{
	font-family: 'PT Sans', sans-serif;
	color:  #898989;
	font-size: 16px;
	margin: 0 0 0 220px ;
	width: 200px;
}
.features__text--3{
	font-family: 'PT Sans', sans-serif;
	color:  #898989;
	font-size: 16px;
	margin: 0 0 0 230px ;
	width: 200px;
}
.features__text--4{
	font-family: 'PT Sans', sans-serif;
	color:  #898989;
	font-size: 16px;
	margin: 0 0 0 240px ;
	width: 200px;
}
.numbers{
	font-family: 'PT Sans', sans-serif;
	color:  #000000;
	font-size: 30px;
	font-weight: 400;
	float: left;
	padding: 100px 0 30px 100px;
}
.footer__text{
	font-family: 'PT Sans', sans-serif;
	color:  #fcdb00;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	padding: 100px 0 20px 0;
}
.footer__text--2{
	font-family: 'PT Sans', sans-serif;
	color:  #898989;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 0 150px 90px 150px;
}
.input{
	background-color:  #ffffff;
	width: 580px;
	height: 50px;
	border-radius: 10px;
	border-style: solid;
	margin: 0 0 0 250px;
}
.input::-webkit-input-placeholder{
	font-family: 'PT Sans', sans-serif;
	color:  #898989;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	padding: 0 0 0 30px;
}
.submit__btn{
	border-style: solid;
	border-width: 2px;
	border-color:  #010101;
	background-color:  #fcdb00;
	width: 126px;
	height: 50px;
	border-radius: 10px;
	font-family: 'PT Sans', sans-serif;
	color:  #010101;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
}
.submit__btn:hover{
	color: white;
	opacity: 0.9;
}
.icons{
	margin: 70px 0 0 500px;
	
}
.icons img{
	padding: 0 0 0 20px;
}
.icons img:hover{
	color: black;
	opacity:0.8;
}
.fab:hover{
	color: white;
	opacity: 0.8;
}
.footer__text--3{
	font-family: 'PT Sans', sans-serif;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	float: left;
	width: 160px;
	margin: 130px 90px 150px 200px;
}
.footer__text--4{
	font-family: 'PT Sans', sans-serif;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	width: 60px;
	float: left;
	margin: 130px 90px 0 0;
}

@media all and (max-width: 426px){
	.wrapper{
		margin: 0 auto;
	}
	.logo{
		padding: 30px 0 0 80px;
		margin: 0 auto;
		width: auto;
	}
	.menu{
		display: table;
		float: none;
		margin: 0 0 0 70px;
		text-align: center;
		padding-top: 20px;


		
	}
	.menu li{
		padding: 10px 0 0 0 ;
	}
	.text{
		padding: 150px 0 0 3px;
		width: auto;
		float: none;
		text-align: center;


	}
	.text--2{
		padding: 30px 20px 0 20px ;
		text-align: center;
		width: auto;
	}
	.text--3{
		text-align: center;
		padding: 50px 0 0 0px;
		width: auto;
		
	}
	.sprite-1{
		margin: 40px 0 0 60px;
	}
	.sprite-2{
		margin: 40px 0 0 0;
	}
	.sprite-3{
		margin: 40px 0 0 0;
	}
	.illustration img{
		float: none;
		margin: 0 auto;
		margin-top: 50px;
		width: 250px;
	}
	.dots {

		position: relative;
		padding: 30px 0 20px 110px ;
	}
	.dots img{
		padding: 0 0 0 15px;
		width: auto;
	}
	.main__text--2{
		padding: 20px 0 0 0 ;
		width: auto;

	}

	.block--4,
	.block,
	.block--2,
	.block--3,
	.block--5{

		margin-left: -140px;
		padding: 65px 0 0 0;
		width: auto;
	}
	.numbers{
		font-size: 25px;
		padding: 100px 0 30px 80px;
	}
	.footer__text--2{
		width: auto;
		padding: 20px 0 90px 0;
	}
	.input{
	width: 300px;
	margin: 0 0 0 10px;
}
	.submit__btn{
	display: table;
	margin: 20px 0 0 100px;
}
	.icons{
	margin: 30px 0 0 70px;
	
}
.icons img{
	padding: 0 10px 0 0;
}
.footer__text--3{
	text-align: center;
	width: auto;
	margin: 30px 0 30px 0px;
}
.footer__text--4{
	text-align: center;
	float: none;
	margin: 20px 130px 0 130px;

}
}
@media (min-width: 427px) and (max-width: 768px){
	.logo{
	padding: 40px 0 0 20px;
	display: block;
	width: auto;
}
.logo img{
	float: left;
	padding:0 10px 0 0 ;
}
.menu{
	float: right;
	padding: 35px 30px 0 0;
	width: auto;
}
.text{
		padding: 100px 210px 0 210px;
	}
	.text--2{
		margin: 10px 0px 0 -40px ;
		text-align: center;
		width: 400px;

	}
	.text--3{
		text-align: center;
		width: 500px;
		margin: 0px 0px 0 -90px;

	}
	.sprite-1{
		margin: 0px 0 0 80px;
	}
	.sprite-2{
		margin: 0px 0 0 0;
	}
	.sprite-3{
		margin: 0px 0 50px 0;
	}
	.illustration img{
		float: none;
		margin: 0 0 0 210px;
		
	}
	.dots {

		position: relative;
		padding: 30px 0 20px 320px ;
	}
	.dots img{
		padding: 0 0 0 15px;
		width: auto;
	}
	.block--4,
	.block,
	.block--2,
	.block--3,
	.block--5{

		margin-left: -120px;
		padding: 10px 60px 0 5px;
		width: auto;
		padding-top: 60px;

	}
	.numbers{
		font-size: 30px;
		padding: 100px 250px 30px 290px;
	}
	.input{
	width: 400px;
	margin: 0 0 0 120px;
}
	.submit__btn{
	
	margin: 5px 0 0 0px;
}
	.icons{
	margin: 40px 0 0 250px;
	
}
.icons img{
	padding: 0 0 0 20px;
}
.footer__text--3{
	
	float: left;
	width: 160px;
	margin: 130px 50px 150px 80px;
}
.footer__text--4{
	
	width: 60px;
	float: left;
	margin: 130px 50px 0 0;
}


}
@media (min-width: 769px) and (max-width: 1024px){
	.illustration img{
	float: right;
	overflow: hidden;
	margin: 60px 110px 50px 0;
	display: block;
}
.dots {
	position: absolute;
	bottom: 0;
	padding: 0 0 0 500px;
}
.dots img{
	padding: 0 0 20px 10px;
}
.block--4,
	.block,
	.block--2,
	.block--3,
	.block--5{

		float: left;
	margin-left: -100px;
	}
	.numbers{
		font-size: 30px;
		padding: 400px 250px 30px 450px;
		float: none;

	}
	.input{
	
	margin: 0 0 0 170px;
}
.icons{
	margin: 70px 0 0 380px;
	
}
.footer__text--3{
	
	margin: 130px 90px 150px 150px;
}




}

